@use "./util/fonts" as *;

.nav-container {
    height: 3em;
    margin: 0 auto;
    background-color: #333;
    padding: 3px;

    .logo {
        float: left;
        width: 5em;
        height: auto;
    }

    .navlist {
        margin-left: 3px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: inline-block;
    
        li {
            float: left;
            display: inline;

            a {
                @include set-font();
                
                display: block;
                color: white;
                text-align: center;
                padding: 14px 12px;
                text-decoration: none;
                transition: all 0.2s;
            }
            
            a:hover {
                background-color: #111;
                transition: all 0.2s;
            }
        }
    }
}

.subnav-container {
    height: 2em;
    margin: 0 auto;
    background-color: #575757;
    padding: 3px;

    .subnav-list {
        margin-left: 3px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: inline-block;
    
        li {
            float: left;
            display: inline;

            a {
                @include set-font();
                
                display: block;
                color: white;
                text-align: center;
                padding: 7px 12px;
                text-decoration: none;
                transition: all 0.2s;
            }
            
            a:hover {
                background-color: #3f3f3f;
                transition: all 0.2s;
            }
        }
    }
}